body {
    background-color: green;
}

h1 {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: aquamarine;
    text-align: center;
}

.links{
    color: red;
    background-color: #4CAF50;
    text-align:center;
    font-size:large;
}