body {
    background-color: green;
}

h1 {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: aquamarine;
    text-align: center;
}

audio {
    margin:0 auto;
    text-align: center;
    width: 100%;
}

.buttons {
    background-color: #4CAF50;
    border: none;
    color: red;
    padding: 15px 640px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.buton {
    color: aqua;
    background-color: green;
  }

a {
    color: aqua;
    background-color: #4CAF50;
    padding: 15px 695.5px;
}